*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	padding: 0 4rem 0 1rem;
	background: #fff;
	color: #000;
	font-family: "Geist Sans", "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
}

body::after {
	--size: 80px;
	--thickness: 2px;
	content: "";
	position: fixed;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.25;
}

.bouncing-blob {
	width: 32vw;
	aspect-ratio: 1;
	border-radius: 50%;
	will-change: transform;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	transform-origin: left top;
}

.bouncing-blob--blue {
	background: #3e87d9;
}

.bouncing-blob--white {
	background: #ffffff;
	z-index: 2;
	width: 15vw;
}

.bouncing-blob--purple {
	background: #9f89f6;
}

.bouncing-blob--pink {
	background: #f08bd850;
}

.bouncing-blobs-container {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.bouncing-blobs-glass {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(140px);
	-webkit-backdrop-filter: blur(140px);
	pointer-events: none;
}

.bouncing-blobs {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.dark body {
	background: hsl(0 0% 6%);
	color: hsl(0 0% 96%);
}

mark {
	color: hsl(0 0% 6%);
}

.dark mark {
	color: hsl(0 0% 98%);
}

section {
	margin-bottom: 2rem;
}

.dark header svg path {
	fill: white;
}

:where(h1, h2) {
	font-weight: 120;
}

main {
	padding: 0 1rem;
	width: 57ch;
	max-width: 100%;
	margin: 0 auto;
	font-size: 1.25rem;
	padding: 0 0 50vmin 0;
}

button {
	position: fixed;
	top: 1rem;
	right: 1rem;
	width: 48px;
	aspect-ratio: 1;
	padding: 0;
	border-radius: 12px;
	border: 0;
	background: transparent;
	display: grid;
	place-items: center;
	cursor: pointer;
}

[aria-pressed=true] svg path:last-of-type,
[aria-pressed=false] svg path:first-of-type {
	display: none;
}

button svg {
	width: 65%;
}

mark {
	--lightness: 80%;
	--highlighted: 1;
	--highlight: hsl(var(--hue, 45) 80% var(--lightness));
	background: transparent;
}

@supports (animation-timeline: view()) {
	mark {
		--highlighted: 0;
		-webkit-animation: highlight steps(1) both;
		animation: highlight steps(1) both;
		animation-timeline: view();
		animation-range: entry 100% cover 10%;
	}
}

.dark mark {
	--lightness: 35%;
}

mark span {
	background: linear-gradient(120deg, var(--highlight, lightblue) 50%, transparent 50%) 110% 0 / 200% 100% no-repeat;
	background-position: calc((1 - var(--highlighted)) * 110%) 0;
	transition: background-position 1s;
}

p,
li {
	position: relative;
}

a {
	color: hsl(236, 100%, 47%);
	text-decoration: none;
}

a:is(:hover, :focus-visible) {
	text-decoration: underline;
	text-underline-offset: 6px;
}

hr {
	margin: 2rem auto;
}

hr+p {
	text-align: center;
}

mark::after {
	content: attr(data-author);
	display: grid;
	place-items: center;
	font-variant-numeric: tabular-nums;
	font-weight: bold;
	position: absolute;
	padding: 7px;
	aspect-ratio: 1;
	border-radius: 12px;
	background: var(--highlight);
	font-weight: 80;
	top: 0;
	left: 100%;
	translate: 50% 0;
	font-size: 0.875rem;
	scale: var(--highlighted);
	transition: scale 0.2s;
}

@-webkit-keyframes highlight {
	to {
		--highlighted: 1;
	}
}

@keyframes highlight {
	to {
		--highlighted: 1;
	}
}

::view-transition-new(root) {
	-webkit-animation: grow 1s;
	animation: grow 1s;
}

::view-transition-old(root) {
	-webkit-animation: none;
	animation: none;
}

@-webkit-keyframes grow {
	0% {
		-webkit-clip-path: polygon(50vmax 50vmax, 50vmax 50vmax, 50vmax 50vmax);
		clip-path: polygon(50vmax 50vmax, 50vmax 50vmax, 50vmax 50vmax);
	}

	100% {
		-webkit-clip-path: polygon(50vmax -100vmax, -100vmax 200vmax, 200vmax 200vmax);
		clip-path: polygon(50vmax -100vmax, -100vmax 200vmax, 200vmax 200vmax);
	}
}

@keyframes grow {
	0% {
		-webkit-clip-path: polygon(50vmax 50vmax, 50vmax 50vmax, 50vmax 50vmax);
		clip-path: polygon(50vmax 50vmax, 50vmax 50vmax, 50vmax 50vmax);
	}

	100% {
		-webkit-clip-path: polygon(50vmax -100vmax, -100vmax 200vmax, 200vmax 200vmax);
		clip-path: polygon(50vmax -100vmax, -100vmax 200vmax, 200vmax 200vmax);
	}
}

@media screen and (max-width: 500px) {
	mark::after {
		translate: 1% 0;
	}
}